/* ==========================================================================
   Additional Reset
   ========================================================================== */
html, body {
    min-height: 100%;
    color: #222;
}

/* ==========================================================================
   Custom font video discoveries
   ========================================================================== */
@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand-regular-webfont.eot');
    src: url('../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-regular-webfont.woff') format('woff'),
         url('../fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandlight';
    src: url('../fonts/quicksand-light-webfont.eot');
    src: url('../fonts/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-light-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-light-webfont.woff') format('woff'),
         url('../fonts/quicksand-light-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'quicksandregular', Times, "Times New Roman", serif;
}

h1, h2 {
    font-family: 'quicksandlight', Times, "Times New Roman", serif;
    letter-spacing: -0.05em;
}

/* ==========================================================================
   Header
   ========================================================================== */
header {
    border-bottom: 2px solid #d9e9d1;
    margin-bottom: 1em;
    background: #f9f9f9;
    padding: 0.5em 0;
}

/* ==========================================================================
   Login
   ========================================================================== */
.fullWidth {
    max-width: 1070px;
    padding: 0 40px;
    margin: 0 auto;
}

.login,
.loggedIn {
    display: none;
}

.login {
    margin: 5em auto;
    width: auto;
    border-radius: 4px;
    font-size: 200%;
    padding: 1em;
}

/* ==========================================================================
   Upload
   ========================================================================== */
#title,
#description {
    width: 23em;
}

#description {
    height: 8em;
}

#progress,
#complete {
    display: none;
    text-align: center;
}

#progress img,
#complete a {
    margin-top: 5em;
}

#progress img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
}

#screenshotSelector {
    display: none;
}

#screenshotSelector video {
    width: 23em;
    height: auto;
}

.container {
    border: 2px solid #d9e9d1;
    background: #f9f9f9;
    box-sizing: border-box;
    padding: 0.5em;
    border-radius: 3px;
}


/* ==========================================================================
   View
   ========================================================================== */
.noContent {
    display: none;
    text-align: center;
    padding-bottom: 2em;
}

.noContentCenter {
    margin: 0 auto;
}

.noContentRight {
   float: right;
}

.videoPlayer {
    position: relative;
    float: left;
}

.videoPlayer video {
    width: 100%;
    height: auto;
    border: 2px solid #d9e9d1;
    box-sizing: border-box;
    border-radius: 3px;
}

.videoPlayer .description {
    margin: 0;
    padding-left: 3px;
}

.similarVideos {
    float: right;
}

.similarVideosTitle {
    margin: 0 0 0.5em 0;
}

.videoPreview {
    position: relative;
    margin: 0 0 0.5em 0;
    cursor: pointer;
    border: 2px solid #d9e9d1;
    border-radius: 3px;
}

.videoPreview:hover {
    border: 2px solid #81b6e8;
    border-radius: 3px;
}

.videoPreview:last-child {
    margin-bottom: 0;
}

.videoPreview img {
    width: 100%;
    display: block;
}

.videoPlayer .title,
.videoPreview .title {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    margin: 0;
    color: #eee;
    text-shadow: #000 -0.02em -0.02em 0.3em
}

.videoPlayer .title {
    top: 1.5em;
    left: 2em;
}