{% extends "templates/base.html" %}
{% block scripts %}
    <script src="/static/js/view.js"></script>
{% endblock %}
{% block content %}
  <div class="videoPlayer pure-u-18-24 container">
    <video preload="none" controls></video>
    <h2 class="title"></h2>
    <p class="description"></p>
  </div>

  <div class="similarVideos pure-u-5-24 container">
    <h4 class="similarVideosTitle">Similar Videos</h4>
    <div class="unwatchedVideos"></div>
  </div>

  <div class="noContent pure-u-5-24 container">
    <h4>No More Videos</h4>
    <button class="reset pure-button pure-button-primary">Reset Videos</button>
  </div>
{% endblock %}
